@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sigmar&display=swap');



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fcdada;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(41, 158, 119);
    font-family: 'Poppins',sans-serif;
  }
  
  .header {
    display: flex;
    font-family: 'Sigmar', cursive;
    font-size: 60px;
    font-weight: 20;
    color: #7a155a;
  }
  
  .header-photo {
    justify-content: flex-start;
    height: 300px;
  }
 
  .lessons-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .lessons-list li {
    margin-bottom: .05rem;
    
  }
    
  .lessons-list li a {
    color: #7a155a;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 30px;    
  }
    
  
  .footer {
    text-align: center;
    color: #7a155a;
    text-decoration: none;
 }

    a {
        text-decoration: none;
        color: #7a155a;
    }

   
  .footer-text {
    margin: 0px;
    color: #7a155a;
        
  }

 