@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Gaegu&family=Waiting+for+the+Sunrise&family=Yuji+Boku&display=swap");
/* #332b98 darker peri
#ebf99a yell
#ffc0c0 grapefruit
#6f67bc peri
#aae552 lime
#8ac630 darker green
#de52e5 purple
#8ac68a*/

/* *{
    outline: 1px solid;
} */
html {
  /* background-color: rgb(159, 200, 242); */
  font-family: "Waiting for the Sunrise";
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8ac68a;
  color: #332b98;
  border: 3px solid #ffc0c0;
}
@media screen and (min-width: 901px){
    header{
        flex-direction: row;
    
    }
    header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    header li a{
        padding: 40px;
        font-size: 40px;
    }
}
header li a{
  padding: 10px;
  font-size: 30px;
  align-items: center;
}
header img {
  margin-top: 8px; 
  
}
.navbar_item {
  list-style-type: none;
}
.navbar_links {
  text-decoration: none;  
  font-size: 30px;
  font-weight: 600;
  color: #332b98;
}
main a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #de52e5;
  font-size: 30px;
  font-weight: 800;
  border: 2px solid;
  padding: .05em; 
}
.suppliers_container img{
  height: 100px;
}
.main_container img{
    width: 100%;
    border-radius: 50%;
    margin-top: 3px;
    
}
h1 {
  font-family: "Gaegu";
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color:#332b98; 
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6f67bc;
}
.smoothie_container img{
  width: 100%;
  border-radius: 50px;
}
.findus_container img{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8ac68a;
  color: #332b98;
  border: 3px solid #ffc0c0;
  padding: 10px;
}
footer img{
    height: 30px;
    width: auto;
}
footer h2{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
footer h3{
    margin: 0;
    font-size: 18px;
    font-weight: 1000;
}