@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Gaegu&family=Waiting+for+the+Sunrise&family=Yuji+Boku&display=swap");
/* #332b98 darker peri
#ebf99a yell
#ffc0c0 grapefruit
#6f67bc peri
#aae552 lime
#8ac630 darker green
#de52e5 purple
#8ac68a*/


html {  
  font-family: "Waiting for the Sunrise";
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8ac68a;
  color: #332b98;
  border: 3px solid #ffc0c0;
}
header li a{
  padding: 10px;
  font-size: 30px;
  align-items: center;
}
header img {
  margin-top: 8px;  
}
.navbar_item {
  list-style-type: none;
}
.navbar_item:hover{
  cursor: pointer;
  opacity: 0.75;
  background-color:#ffc0c0;  
}
.navbar_links {
  text-decoration: none;  
  font-size: 30px;
  font-weight: 600;
  color: #332b98;
}
main a {  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #be21c6;
  width: 50%;
  font-size: 30px;
  font-weight: 800;
  border: 2px solid;
  padding: .05em; 
  margin: auto;
}
main a:hover{
  cursor: pointer;
  opacity: 0.75;
  background-color: #db37e3;
  color: white;
}
.main_container{
  background-color: #f2eded;
}
.main_container img{
    width: 95%;
    border-radius: 50%;
    margin: auto; 
    border: 2px solid #ffc0c0;
    margin-top: 5px;   
    padding: 5px; 
}
.about_img {
  display:flex;
  margin:auto;
  width: 100%;
  margin-top: 5px;
  border: 2px solid #ffc0c0;   
}
h1 {  
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color:#332b98; 
  background-color: #8ac68a;
  border: 2px solid #ffc0c0;
}
h2 {
  font-family: "Gaegu";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6f67bc;
}
.coastalinfo_container{
  background-color: #eefba7;  
}
.weathersummary, #forecast, #humidity, #windchill, #degrees, p{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid white;
  font-family: "Gaegu";
  padding: 5px;
  background-color: #dcdcff;  
}
.smoothie_container img{
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
}
.findus_container img{
  width: 100%;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffc0c0;
  margin-bottom: 3px;
}
.suppliers_container img{
  height: 125px;  
}
.suppliergallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.smoothie_order_app {
  display: flex;
  flex-direction: column;

}
.about_us {
  background-color: white;
  font-size: 20px;
  margin:auto;
  max-width: 90%;
}
.smoothie_order img{
  width: 100%;
  border: 2px solid #ffc0c0;
  margin-top: 20px;
}
fieldset{
  display: flex;
  flex-direction: column;
  color:#332b98;
  background-color: #f8d6d6;
}
legend{
  display: flex;
  font-size: 30px;
  color: #332b98;
  font-family: "Gaegu";
}
label{
  font-size: 20px;
  font-weight: 700;
}
.submitButton{
  display: flex;
  margin:auto;
  font-size: 20px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about_photos{
  width: 100%;
  border-radius: 50%; 
  margin-top: 10px;
  margin-bottom: 10px; 
}
.story{
  display: flex;
  margin: auto;  
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8ac68a;
  color: #332b98;
  border: 3px solid #ffc0c0;
  padding: 10px;
}
footer img{
    height: 30px;
    width: auto;
}
footer h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #332b98;    
}
footer h3{
    margin: 0;
    font-size: 18px;
    font-weight: 1000;
}
.reciept p{
  color: #332b98;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
}
.reciept h3{
  background-color: #ffc0c0;
  color: #332b98;
  font-size: 30px;
  
  text-align: center;
}
@media screen and (min-width: 600px){
  .main_container img{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 15px;
  }
  .smoothie_order_app{
    padding-top: 10px;
    justify-content: space-between;    
    flex-direction: row;
  }
  .findus_container img{
    height: 300px;
    width: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 15px;    
  }
  .smoothie_container img{
    width: 500px;    
    display:flex; 
    margin:auto;  
  }
  .smoothie_order img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 400px;
    width: 500px;
    
    margin-top: 20px;
  }
  label{
    margin:auto;
  }
  .about_photos{
    width: 400px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;    
  }
}
@media screen and (min-width: 901px){
  header{
      flex-direction: row;  
  }
  header ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;  
  }
  header li a{
      padding: 40px;
      font-size: 40px;
  }
  .main_container img{
    width: 400px;
    height: 300px;
    margin-top: 40px;          
  }
  .main_container{
    display: flex;
    flex-direction: row;   
  }
  .main_container a{
    width: 25%;
  }
  .main_container h1{
    display: none;
  }
  .main_container h2{
    font-size: 40px;
  }
  .findus_container img{
    height: 300px;
    width: 400px;  
    margin: 0;  
  }
  .findus_container{
    display: flex;
    flex-direction: row;    
    justify-content: center; 
    margin: auto;
    margin-top: 15px; 
    margin-bottom: 15px; 
  }
  .findus_container h1{
    height: 300px;
    width: 400px;
    margin: 0;   
  }
  .coastalinfo_container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
  }
  .coastalinfo_container h1{
    border-radius: 50%;
    height:200px;
    width: 200px;    
  }
  .coastalinfo_container h2{
    width:800px;    
  }
  .coastalinfo_container a{    
    width: 15%;
    margin: 0;
  }
  .weather_container{
    width: 800px;
    margin: auto;    
  }
  #forecast{
    width: 800px;
    margin: auto;
  }
  .smoothie_container img{
    width: 500px;    
    display:flex; 
    margin:auto;  
  }
  .smoothie_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .smoothie_order img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 400px;
    width: 500px;    
    margin-top: 20px;
  }
  .smoothie_order_app{    
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    flex-direction: row;
    margin:auto;
  }
  label{
    margin:auto;
  }
  .about_photos{
    width: 400px;    
  }
}