@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Gaegu&family=Waiting+for+the+Sunrise&family=Yuji+Boku&display=swap");
/* #332b98 darker peri
#ebf99a yell
#ffc0c0 grapefruit
#6f67bc peri
#aae552 lime
#8ac630 darker green
#de52e5 purple
#8ac68a*/


html {  
  font-family: "Waiting for the Sunrise";
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8ac68a;
  color: #332b98;
  border: 3px solid #ffc0c0;
}
header li a{
  padding: 10px;
  font-size: 30px;
  align-items: center;
}
header img {
  margin-top: 8px;  
}
.navbar_item {
  list-style-type: none;
}
.navbar_item:hover{
  cursor: pointer;
  opacity: 0.75;
  background-color:#ffc0c0;  
}
.navbar_links {
  text-decoration: none;  
  font-size: 30px;
  font-weight: 600;
  color: #332b98;
}
main a {  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #db37e3;
  width: 50%;
  font-size: 30px;
  font-weight: 800;
  border: 2px solid;
  padding: .05em; 
  margin: auto;
}
main a:hover{
  cursor: pointer;
  opacity: 0.75;
  background-color: #f8d6d6;
}
.suppliers_container img{
  height: 100px;  
}
.main_container img{
    width: 95%;
    border-radius: 50%;
    margin: auto; 
    border: 2px solid #ffc0c0;
    margin-top: 5px;   
    padding: 5px; 
}
.about_img {
  width: 100%;
  margin-top: 5px;   
}
h1 {  
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color:#332b98; 
  background-color: #8ac68a;
  border: 2px solid #ffc0c0;
}
h2 {
  font-family: "Gaegu";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6f67bc;
}
.weathersummary, #forecast, #humidity, #windchill, #degrees, p{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid #6f67bc;
  font-family: "Gaegu";
  padding: 5px;
}

.cloud{
  margin: auto;
}
.smoothie_container img{
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
}
.findus_container img{
  width: 100%;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffc0c0;
  margin-bottom: 3px;
}
.suppliergallery{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.smoothie_order img{
  width: 100%;
  border: 2px solid #ffc0c0;
  margin-top: 20px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8ac68a;
  color: #332b98;
  border: 3px solid #ffc0c0;
  padding: 10px;
}
footer img{
    height: 30px;
    width: auto;
}
footer h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #332b98;    
}
footer h3{
    margin: 0;
    font-size: 18px;
    font-weight: 1000;
}
@media screen and (min-width: 600px){
  .cloud{
    
  } 
}
@media screen and (min-width: 901px){
  header{
      flex-direction: row;  
  }
  header ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;  
  }
  header li a{
      padding: 40px;
      font-size: 40px;
  }
  .main_container img{
    width: 400px;
          
  }
  .main_container{
    display: flex;
    flex-direction: row;
   
  }
}