@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Caveat&family=Montserrat:wght@100&family=Sigmar&display=swap');


nav {
	display: flex;
	justify-content: space-around;
	background-color: #eea88c;
    text-decoration: none;
    list-style-type: none; 
    width: 100%;  
}

/* ul {
    display: flex;
	justify-content: space-around;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0; 
} */
ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px 1fr));
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li a{
	display: block;
	color: rgb(12, 67, 77);
	text-align: center;
    font-weight: bold;
    font-size: 25px;
	padding: 0.75rem;
	text-decoration: none;
    font-family: "Montserrat";
}

a:hover {
	background-color:  #dfa48d;
}

body {
    
    background-color: #deeaee;
    padding: 5%;
}

p {
    font-family: "Montserrat";
    color: rgb(107, 42, 53);
    font-size: 30px;
    font-weight: bolder;
    
}
img {
    display: flex;
    margin: 0 auto;
    border-color: #b1cbbb;
    
  }


h2, h1 {
    font-family: "Castoro Titling";
    font-size: 50px;
    color: rgb(107, 42, 53);
}

.pallette-image{
    border-style: groove;
}
footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #dfa48d;
    font-family: "Montserrat";
    color:rgb(107, 42, 53);
    
}