<meta name="viewport" content="width=device-width, initial-scale=1">

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Caveat&family=Montserrat:wght@100&family=Sigmar&display=swap');
 
 *{
    outline: 1px solid rgb(126, 53, 5);
}

.navbar_container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Montserrat', 'Sans serif';
    /* width: 100%; */
    background-color: rgb(222, 252, 238);
}

.nav-links {
	display: grid;
    grid-template-columns: auto;
    margin: 0;
    /* width: 100%; */
    position: absolute;
    top: -1000px;
    opacity: 1;
    z-index: -1;
    transition:all 0.5s ease;
}
.nav-links.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition:all 0.5s ease;
    height: 60vh;
    font-size: 1.6rem;
    padding: 0;
}

.navbar__links {
    color:rgb(66, 192, 214);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%;
    width: 125px; */
    transition: all 0.3s ease;
    padding-top: 5px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.title {
    display: block;
    
    color: rgb(168, 39, 39);
    font-weight: 400;
    font-size: 70px;
    font-style: bold;
    bottom: 0px;
}

.navbar_toggle .bar{
    display: block;
    cursor: pointer;
    width: 40px;
    height: 3px;
    margin: 15px;
    transition:all 0.3s ease-in-out;
    background: black;
}

#mobile-menu {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%,20%);
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity:0;
}
#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

ion-icon {
    color: gray;
    width: 90px;
    height: 50px;
    
}

.main-containers{
    
    display: inline-block;
    border: 2px rgb(22, 23, 24) solid;
    margin:10px;
    padding: 0 1em;
}

.hero-img{
   
   max-width: 100%;
   

}
/* .hero-container{
    /* grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-end: 2; 
} /*

.spotlight{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
} */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}
/* 
.footer-logo{
    
    
    
    text-align: center;
}
.contact-info{
    
    
   
    text-align: center;
}
.map-link{
    
   
   
    text-align: center;
}
.final-info{    
    
} */