

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Caveat&family=Montserrat:wght@100&family=Sigmar&display=swap');
 
 /* *{
    outline: 1px solid rgb(126, 53, 5);
} */
:root {
    background: rgb(238, 213, 213);
}

html {
    font-size: 62.5%;
}

body{
    background-color: white;
}

header{
    position:sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(7, 58, 102);
    height: 60px;
}

.navbar{
    height: 200px;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: yellow;
}

.navbar_container{
    display: flex;
    justify-content: left;
    font-family: 'Montserrat', 'Sans serif';
    height: 200px;
    width: 100%;
    z-index: 1;
    background-color: rgb(222, 252, 238);
}

.main-logo img{
    width: fit-content;
    padding-right: 15px;
}

.title {
    display: block;
    color: rgb(168, 39, 39);
    font-weight: 400;
    font-size: 5vw;
    font-style: bold;
    bottom: 0px;
    width: fit-content;
}

.navbar_toggle .bar{
    display: block;
    cursor: pointer;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition:all 0.3s ease-in-out;
    background: black;
}

.navigation-toolbar{
    background-color:burlywood;
    display:block;
}

.nav-links {
	display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    /* z-index: -1; */
    transition:all 0.5s ease;
}

.nav-links.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition:all 0.5s ease;
    height: 60vh;
    font-size: 1.6rem;
    padding: 0;
}

.navbar__links {
    color:rgb(66, 192, 214);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 125px;
    transition: all 0.3s ease;
    padding-top: 5px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.navbar__item{
    height: 80px;
    list-style-type: none;
}

#mobile-menu {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%,20%);
}

#mobile-menu.active {
    position:absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%,20%);
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity:0;
}
#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.icons{
    display: flex;
    align-items: center;
    position:absolute;
    column-gap: 2px;
    /* top: 30%; */
    right: 15%;
    height: 100%;
    z-index: 100;
    width:fit-content;
    /* overflow:hidden; */
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35px;
    color: gray;
    width: 50px;
    height: 20px;    
}

.main-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 60px); */
    width: 100%;
    border: 2px rgb(22, 23, 24) solid;
    margin-top: 200px;
    padding: 20 1em;
    column-gap: 220px;
    background-size: 70vh;
    z-index: 100;
}

.hero-img{
   height: auto; 
   width: 100%;
}

.hero-container img{
    height: auto;    
}

.hero-container picture{
    height:auto;
    width: 100%;
}

.event-container{
    border: 2px rgb(22, 23, 24) solid;
}
.weather-container{
    border: 2px rgb(22, 23, 24) solid;
}
.news-container{
    border: 2px rgb(22, 23, 24) solid;
}
.spotlight{
    border: 2px rgb(22, 23, 24) solid;
}
.join-container{
    border: 2px rgb(22, 23, 24) solid;
}

/* mobile version */
@media only screen and (max-width: 600px){
    .wrapper-main {
        width: 80%;
    }
    header{
        position:fixed;
    }
    .main-logo img{
        padding-left: 20px;
    }
    .title {
        width: 50vh;
        word-wrap: ;
    }
   
    .main-containers{
        display: flex;
        height: auto;
        width: 100%;
        border: 2px rgb(22, 23, 24) solid;
        margin-top: 200px;
        padding: 20 1em;
    }
}
/* .spotlight{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
} 

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}
/* 
.footer-logo{
    
    
    
    text-align: center;
}
.contact-info{
    
    
   
    text-align: center;
}
.map-link{
    
.wrapper-main {
        width: 1100px;
        margin: 0 auto;
    }   
   
    text-align: center;
}
.final-info{    
    
} */