@media screen and (min-width: 901px) {
  body {
    font-size: 18px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: initial;
  }
  
  .nav-links ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }

  .navbar__item {
    width: 150px;
  }

  .navbar__item {
    height: auto;
  }

  #mobile-menu {
    display: none;
  }

  .main-containers {
    margin: 25px auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 52px 10px;
  }

  .event-container {
    height:auto;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .hero-container {
    height:auto;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .weather-container {
    height:auto;
    position: relative;    
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .weathersummary {
    height: 100px;
    top: 200px;
    right: 50px;
  }

  .join-container {
    height:auto;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .news-container {
    height:auto;
    grid-column: 2/3;
    grid-row: 3/5;
  }

  .spotlight-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height:auto;
    grid-column: 3/4;
    grid-row: 1/5;
    align-items: left;
  }

  .spotlight3, .spotlight4{
    display: flex;

  }

}


