@media screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
  .main-containers {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    max-width:fit-content;
  }
  .event-container {
    grid-column: 1/3;
    grid-row: 5/6;
    
  }
  .hero-container {
    grid-column: 1/4;
    grid-row: 1/2;
    
  }
  .weather-container {
    grid-column: 3/4;
    grid-row: 5/6;
    
  }
  .weathersummary{
    position:absolute;
    bottom: -2150px;
    right: 25px;
  }
  .join-container {
    grid-column: 1/4;
    grid-row: 4/5;
    
  }
  .news-container {
    grid-column: 1/4;
    grid-row: 2/3;
    
  }
  .spotlight-container {
    grid-column: 1/4;
    grid-row: 3/4;
    
  }
}
