

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sigmar&display=swap');



    
header{
  display: flex;
  justify-content:center;
  align-items: center;
  width: auto;
  border-color: black;  
  border-style: solid;
  background-color:rgb(227, 240, 243);
  font-family: 'Sigmar', cursive;
  font-size: 60px;
  font-weight: 10;
  color:rgb(41, 124, 124);
  padding: 20px;
}

.title{
  display: flex;
  font-family: 'Sigmar', cursive;
  font-size: 60px;
  font-weight: 10;
  color:rgb(41, 124, 124);
}

.header-photo {
  display: flex;
  width:fit-content;
  align-content: center;
  background-color:rgb(227, 240, 243);
  padding-right: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcdada;
  margin: 0;
  padding: 0;
}
 
.lessons-list ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: .05rem;
}
    
.lessons-list li a {
  color: #7a155a;
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-size: 40px;
  font-weight: 30;  
}
  
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #7a155a;
  text-decoration: none;
  padding: 20px;
  border-color: black;  
  border-style: solid;
  background-color:rgb(227, 240, 243);
  width: auto;
  font-family: 'Poppins', cursive;
  font-size: 18px;
}

  
  

 